python-telegram-bot==22.0
python-dotenv==1.0.0
SpeechRecognition==3.10.0
pydub==0.25.1
gTTS==2.5.1
qrcode==7.4.2
Pillow==10.2.0
pytesseract==0.3.10
PyPDF2==3.0.1
img2pdf==0.5.1
reportlab==4.1.0
pyshorteners==1.0.1
validators==0.22.0
apscheduler==3.10.4
aiohttp==3.9.3
SQLAlchemy==2.0.25
opencv-python-headless==4.9.0.80
numpy==1.26.3
